{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'poll_add' %}">Add Poll</a></li>
{% endblock %}
{% block content %}
    <h2>Polls</h2>
    <form method="POST" action="{% url 'poll_index' %}">
        {% csrf_token %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
        <table class="table">
            <thead>
                <tr>
                   <th scope="col">#</th>
                   <th scope="col" style="text-align: center">Question</th>
                   <th scope="col">Created Date</th>
                   <th scope="col">Update</th>
                   <th scope="col">Delete</th>
                </tr>
            </thead>
            {% for poll in polls %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'poll_view' poll.pk %}">{{ poll.question }}</a></td>
                        <td>{{ poll.created_at|date:'D, d M Y G:i:s'}}</td>
                        <td><a href="{% url 'poll_update' poll.pk %}">&#x270E;</a></td>
                        <td><a href="{% url 'poll_delete' poll.pk %}">&#9986;</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    </form>
{% endblock %}